body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inp {
  background-color: white;
}
.page {
  text-decoration: none;
}

.call {
  font-family: "Roboto Condensed", sans-serif;
  background-image: url("https://mobimg.b-cdn.net/v3/fetch/75/755c2cb94af9d9762ead0d3b09b2f008.jpeg");
  color: white;
}
/* .second {
  background-image: url("https://phonoteka.org/uploads/posts/2021-05/1620992901_15-phonoteka_org-p-cherno-belii-fon-fast-fud-24.jpg");
} */
.choose {
  background-image: url("https://yt3.ggpht.com/ytc/AKedOLQR5TnXNd9BItHhc1roiOTOnIH-YMk9XWrQyDOt=s900-c-k-c0x00ffffff-no-rj");
}

.thebest {
  background-image: url("https://thumbs.dreamstime.com/b/%D1%8D-%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D1%8B-%D0%B8-%D0%BF%D1%80%D0%B5-%D0%BF%D0%BE%D1%81%D1%8B-%D0%BA%D0%B0-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D1%8B-%D0%B5-%D1%8B-%D0%B1%D0%B5%D0%B7%D1%88%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5-61270799.jpg");
}
.biog {
  background-image: url("https://thumbs.dreamstime.com/b/%D1%8D-%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D1%8B-%D0%B8-%D0%BF%D1%80%D0%B5-%D0%BF%D0%BE%D1%81%D1%8B-%D0%BA%D0%B0-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D1%8B-%D0%B5-%D1%8B-%D0%B1%D0%B5%D0%B7%D1%88%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5-61270799.jpg");
}
.kake {
  color: orangered;
  /* background-color: orangered; */
}
.gray {
  background-color: darkgray;
}
.make {
  background-color: orangered;
}
